* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#accountForm
{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label, input {
    display: block;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}
#error {
    color: rgb(255, 0, 0);
    font-family: 'Finger Paint', cursive;
}

h1 
    {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }

        
        #submit {
            padding: 3% 10px;
            border-radius: 100px;
            background-color: orange;
            color: #333;
            border-color: orange;
            font-size: 15px;
            transition: 200ms transform;
            font-weight: 600;
        }
        
        button:hover {
            cursor: pointer;
            transform: translateY(-2px);
}